.delete-button {
    background-color: #BD5F40;
    margin-left: auto;
}

.payment-button{
    background-color: wheat;
}

.return-button{
    background-color: wheat;
}

.cart-container{
    display: inline-flex;
    flex-direction: column;
    gap: 15px
}

.cart-item{
    background-color: wheat;
    display: inline-flex;
    flex-direction: row;
    justify-content: left; 
    align-items: center; 
    gap: 40px;
    padding: 15px;
    border-radius: 15px
}

.price{
    color: #6a855f;
    font-size: large;
}