.delete-button {
    background-color: #BD5F40;
}

.cart-container{
    display: inline-flex;
    flex-direction: column;
    gap: 15px
}

.cart-item{
    background-color: wheat;
    display: inline-flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 40px;
    padding: 15px;
    border-radius: 15px
}