.product-card-detail{
    max-width: 400px;   
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    overflow: hidden;
    background-color: wheat;
    margin: 15px;
    transform: translateY(-4px)
}

.description {
    font-style: italic;
    font-size: smaller;
    padding: 15px;
    border-color: #6a855f
}

.category{
    color:#6a855f;
    font-weight: bolder;
    font-size: smaller;
}

.add-to-cart{
    margin-bottom: 10px;
}